*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
    height: 170px;
    width: auto;
}
div{
    display: inline-block;
    padding-left: 13px;
    margin-top: 7%;
}
h2{
    color: rgb(238, 114, 5);
    font-family: sans-serif;
    margin-top: 3%;
    margin-left: 43%;
    width: 5em;
    position: absolute;
}
p{
    font-family: sans-serif;
    color: rgb(77, 74, 74);
    font-size: 13px;
}
h3 {
    height: 20px;
    background-color: tomato;
    border-top-right-radius: 100%;
    color: white;
    font-size: x-small;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5px; 
    position: relative;
    top: 170px;
   
}
